@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Fjalla+One&family=Lobster&display=swap');
tbody{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

td,th{
    background-color: rgb(255, 255, 255, 0.37);
}

table {
    border-collapse: collapse;
    border-bottom: 2px solid #ff006f;
}

tr:nth-child(even){
    background-color: rgb(255, 170, 0);
    color: #ff0000;
}

thead {
    background-color: #ffb700;
    color: rgb(255, 0, 0);
}

body{
    background-image:url(Ballon-dOr-2025-Lamine-Yamal-3e-Dembele-2eme.-Le-nouveau-classement-des-favoris-avec-un-outsider-designe-laureat-1.jpg) ;
    background-size:cover;

}
h1{
    color: yellowgreen;
}
