table {
    border: 2px solid rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: red;
    border-collapse: collapse;


}

th {
    border: 2px solid rgb(255, 1, 1);
}

table tr:nth-child(even) {
    background-color: rgb(38, 0, 255);


}
table thead{
   background-color: red;
   color: white;
}