body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    background-color: rgb(0, 0, 0);
    border-radius: 3px  ;
    padding: 7px;
    box-shadow: 0px 0px 6px 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 7px;
    font-family: sans-serif;
}
button{
    background-color: rgb(157, 75, 75);
    color: white;
    border-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}
div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
h3{
    font-weight:600;
    font-size: medium;
    color: white;
}
label{
    font-weight: 500;
    font-size: 10px;
}