div{
    border: 2px solid;
    position: relative;
    left: 150px;
    top: 250px;
}
#goa{
     border: 2px solid;
    position: absolute;
    left: 70px;
    bottom: 40px;
}
body{
     height: 300vh
}
#goa1{
     border: 2px solid;
    position: sticky;
    top: 350px;
}