#parent{
    width: 800px;
    height: 800px;
    border: 3px solid;
    display: flex;
}
.child{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 3px solid;
    justify-content: center;
}